<div>
    <h2 style="padding-left:2px;">Title here</h2>
    <div class="field">
        <label for="firstname" style="padding-left:12px;">Name</label>
        <input 
            id="firstname"
            type="text" 
            pInputText 
            placeholder="Name"
            class="w-full"/>
    </div>
    <div class="field">
        <label for="email" style="padding-left:12px;">E-mail</label>
        <input 
            id="email"
            type="email" 
            pInputText 
            placeholder="email@domain.com"
            class="w-full"/>
    </div>
    <div class="field">
        <label for="age" style="padding-left:12px;">Age</label>
        <input 
            id="age"
            type="number" 
            pInputText 
            placeholder="18"
            class="w-full"/>
    </div>
    <div class="field">
        <label for="password" style="padding-left:12px;">Password</label>
        <input 
            id="password"
            type="password" 
            pInputText 
            placeholder=""
            class="w-full"/>
    </div>
    <div class="field">
        <label for="password2" style="padding-left:12px;">Re-Password</label>
        <input 
            id="password2"
            type="password" 
            pInputText 
            placeholder=""
            class="w-full"/>
    </div>
    <div class="field">
        <label for="gender" style="padding-left:12px;">Gender</label>
        <select id="gender"
            class="p-dropdown w-full custom-select">
            <option>Select an option</option>
            <option>MALE</option>
            <option>FEMALE</option>
        </select>
    </div>
    

    <p-button label="Submit" icon="pi pi-check" class="button-right"></p-button>

    <button pButton label="Cancel"
        class="p-button-outlined p-button-danger button-right mr-2"
    >
    </button>


</div>
