<div class="flex" style="height:100vh;">
    <div class="col-6 flex flex-column p-5 m-auto">
        <div class="text-center">
            <p-avatar
                image="assets/images/logo-q.png"
                styleClass="mr-2"
                size="xlarge"
                shape="circle"
            >
            </p-avatar>
            <h2>Register account</h2>
        </div>
        <div>
            <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
        </div>
        <form (ngSubmit)="register()">
            <div class="field">
                <label for="name" style="padding-left:12px;">Name</label>
                <input 
                    id="name"
                    type="text" 
                    pInputText 
                    placeholder="Surname Name"
                    class="w-full"
                    name="name"
                    [(ngModel)]="regReq.name"/>
            </div>
            <div class="field">
                <label for="email" style="padding-left:12px;">E-mail</label>
                <input 
                    id="email"
                    type="email" 
                    pInputText 
                    placeholder="email@domain.com"
                    class="w-full"
                    name="email"
                    [(ngModel)]="regReq.email"/>
            </div>
            <div class="field">
                <label for="gender" style="padding-left:12px;">Gender</label>
                <select id="gender"
                    name="gender"
                    [(ngModel)]="regReq.gender"
                    class="p-dropdown w-full custom-select">
                    <option value="">Select an option</option>
                    <option value="MALE">MALE</option>
                    <option value="FEMALE">FEMALE</option>
                </select>
            </div>
            <div class="field">
                <label for="age" style="padding-left:12px;">Age</label>
                <input 
                    [(ngModel)]="regReq.age"
                    id="age"
                    type="number" 
                    name="age"
                    pInputText 
                    placeholder="18"
                    class="w-full"/>
            </div>
            <div class="field">
                <label for="password" style="padding-left:12px;">Password</label>
                <input 
                    id="password"
                    type="password" 
                    pInputText 
                    placeholder=""
                    class="w-full"
                    name="password"
                    [(ngModel)]="regReq.password"/>
            </div>
            <div class="field">
                <label for="password2" style="padding-left:12px;">Re-Password</label>
                <input 
                    id="password2"
                    type="password" 
                    pInputText 
                    placeholder=""
                    class="w-full"
                    name="password2"/>
            </div>
            <div class="field">
                <p-button 
                [disabled]="!isCustomerValid"
                label="Register" 
                [style]="{'width':'100%'}"
                (click)="register()"
                ></p-button>
            </div>
            <button type="submit" style="display:none">hidden submit</button>
        </form>
        <div class="field">
            <p-button 
            (click)="goToLogin()"
            label="Already have an account? Go to login" [link]="true" [style]="{'width':'100%'}"></p-button>
        </div>
    </div>
    <div class="col-6 flex flex-column" style="background-color: gainsboro;">

    </div>


</div>