
<p-sidebar 
    [(visible)]="sidebarVisible2" 
    position="right"
    styleClass="p-sidebar-lg"
    [transitionOptions]="'300ms cubic-bezier(0, 0, 0.2, 1)'"
>
    <app-manage-customer
    (submit)="save($event)"
    (cancel)="closeDrawer()"
    [customer]="customer"
    [operation]="operation"
    >    
    </app-manage-customer>
</p-sidebar>

<div class="flex align-items-stretch" style="height: 100vh;">
    <div class="flex flex-column align-items-stretch border-right-1 col-2 border-gray-200 side-bar-menue">
        <app-menu-bar></app-menu-bar>
    </div>
    <div class="flex flex-column flex-grow-1 main-container">
        <div style="background-color: #fff;">
            <app-header-bar></app-header-bar>
        </div>
        <div class="main-container p-3">
            <p-button 
            icon="pi pi-plus" 
            severity="success" 
            label="Create customer"
            (click)="createCustomer()"></p-button>
        </div>

        <p-toast></p-toast>
        <p-confirmDialog></p-confirmDialog>
        <div class="card-container">
            <app-customer-cards
            *ngFor="let customer of customers"
            [customer]="customer"
            (delete)="deleteCustomer($event)"
            (update)="updateCustomer($event)"
            >    
            </app-customer-cards>
        </div>
    </div>
</div>

<p-toast position="bottom-center" key="bc"></p-toast>



